<%- include('partials/header'); -%>

<header>
  <div class="smoothie">
    <img src="/smoothie.png" alt="">
  </div>
  <div class="headings">
    <h2>Smoothie Recipes</h2>
    <h3>By Sabi~Smov</h3>
    <a href="/smoothies" class="btn">View<span>~Recipes</span></a>
  </div>
</header>


<%- include('partials/footer'); -%>