/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body {
  margin: 20px 40px;
  font-size: 1.2rem;
  letter-spacing: 1px;
  background: #fafafa;
}

 h3, h4, ul, li, a, p, input, label, div, footer {
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
  color: #444;
}

h2{
 margin: 0;
 padding: 0;
 font-family: 'Quicksand', sans-serif;
 color: crimson;
}


button{
margin: 0;
padding: 0;
font-family: 'Quicksand', sans-serif;
color: crimson;
}

button:hover{
  color:#FEE996;
  background:crimson;
}


.funny a{
margin: 0;
padding: 0;
font-family: 'Quicksand', sans-serif;
color: crimson;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 120px;
}

nav ul {
  display: flex;
  align-items: center;
}

nav li {
  margin-left: 20px;
}

nav li a {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.8em;
  display: block;
  padding: 10px 16px;
  letter-spacing: 2px;
}

/* styles.css */
.btn1 {
    border-radius: 36px;
    
    color: crimson;
    
}


.btn2 {
    border-radius: 36px;           /* Make background transparent */
    color: crimson;
    
    
}

.btn2:hover{
  background:#FEE996;
}
.btn1:hover{
  background:#FEE996
}

.btn{
 border-radius: 50px;  
 background:#FEE996;
 margin:0;
 padding:0;
 border-width: 10px;
 border-style: solid ;
 border-color: #fae603c4;
 color:crimson;
 font-size:20px;
 font-weight: bold;
}
.btn:hover{
background:crimson;
color: #fafafa;
}
span:hover{
  color:gold;
}


form h2 {
  font-size: 2.4em;
  font-weight: 900;
  margin-bottom: 40px;
}

form {
  width: 360px;
  margin: 0 auto;
  padding: 30px;
  box-shadow: 1px 2px 3px rgba(0,0,0,0.1);
  border-radius: 10px;
  background: white;
}

input {
  padding: 10px 0;
  border-radius: 4px;
  border: 1px solid #ddd;
  font-size: 1em;
  width: 100%;
  
}

label {
  display: block;
  margin: 20px 0 10px;
}

button {
  margin-top: 30px;
  border-radius: 36px;
  background: #FEE996;
  border: 0;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.8em;
  display: block;
  padding: 10px 16px;
  letter-spacing: 2px;
}

.error {
  color: #ff0099;
  margin: 10px 2px;
  font-size: 0.8em;
  font-weight: bold;
}

header {
  display: flex;
  align-items: center;
}

header img {
  width: 250px;
  margin-right: 40px;
}

header h2 {
  font-size: 3em;
  margin-bottom: 10px;
}

header h3 {
  font-size: 1.6em;
  margin-bottom: 10px;
  margin-left: 2px;
  color: #999;
}


header .btn1,header .btn2 {
  margin-top: 20px;
  padding: 12px 18px;
  text-transform: uppercase;
  font-weight: bold;
  display: inline-block;
  font-size: 0.8em;
}

.recipes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 30px;
  row-gap: 80px;
  margin: 80px auto;
  max-width: 1200px;
}



.recipe {
  display: inline-block;
  border-radius: 20px;
  background: white;
  position: relative;
  text-align: center;
  padding: 0 20px 30px 20px;
  transition: transform 0.3s ease; /* Move transition here */ 
  cursor: pointer;
}
.recipe:hover {
  transform: scale(1.1);
  background:pink;
  
}
.recipe img {
  width: 100px;
  margin: -30px auto 20px;
}

footer {
  text-align: center;
  margin-top: 120px;
  color:crimson;
  font-size: bold;
}

/* Responsive Styles */
@media (max-width: 760px) {
  body {
    margin: 10px 20px;
    font-size: 1rem;
  }

  nav {
    flex-direction: column;
    align-items: center;
  }

  nav ul {
    flex-direction: column;
  }

  nav li {
    margin-left: 0;
    margin-bottom: 10px;
  }

  form {
  
    width: 100%;
    padding: 15px;
    margin-right: 30px;
  }

  .recipes {
    grid-template-columns: 1fr;
    row-gap: 40px;
  }
  .recipe:hover{
    transform: scale(1.0);
  }

  header img {
    width: 150px;
    margin-right: 20px;
  }

  header h2 {
    font-size: 2em;
  }

  header h3 {
    font-size: 1.2em;
  }
 
 input{
background:pink;
 }
 
 
}

@media (max-width: 500px) {
  body {
    margin: 10px 20px;
    font-size: 1rem;
  }

  nav {
    flex-direction: column;
    align-items: center;
  }

  nav ul {
    flex-direction: column;
  }

  nav li {
    margin-left: 0;
    margin-bottom: 10px;
  }

  form {
  
    width: 95%;
    padding: 20px;
  }

  .recipes {
    grid-template-columns: 1fr;
    row-gap: 40px;
  }
  .recipe:hover{
    transform: scale(1.0);
  }

  header img {
    width: 150px;
    margin-right: 20px;
  }

  header h2 {
    font-size: 2em;
  }

  header h3 {
    font-size: 1.2em;
  }
 
 input{
background:pink;
 }
 
 
}

.dark-mode {
    background-color: black;
    color: #fafafa;
}

.theme-switch-wrapper {
    display: flex;
    align-items: center;
}

.theme-switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
}

.theme-switch input {
    display: none;
}

.slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}

.slider:before {
    background-color: #fafafa;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 26px;
}

input:checked + .slider {
    background-color: crimson;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
